<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galerija Slika</title>
  <link rel="stylesheet" href="style/style_slike.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
</head>
<body>

  <section class="galerija">
    <h1>Galerija slika</h1>

    <div class="img-gallery-magnific">
      <% images.forEach(image => { %>
        <div class="magnific-img">
          <a href="#<%= image.id %>">
            <img src="<%= image.url %>" alt="<%= image.title %>" loading="lazy">
          </a>
        </div>
      <% }); %>
    </div>
  </section>

  <% images.forEach(image => { %>
    <div id="<%= image.id %>" class="lightbox">
      <a href="#" class="close">&times;</a>
      <img src="<%= image.largeUrl || image.url %>" alt="<%= image.title %>">
    </div>
  <% }); %>

</body>
</html>
